* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  background-color: #f5f5f5;
  background-image: url(../src/img/main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.main .container {
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main .container .navbar {
  padding: 1px 0;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.main .container .navbar .nav__logo {
  flex: 0.5;
  float: left;
}
.main .container .navbar .nav__logo .logo {
  height: 70px;
  width: 70px;
}
.main .container .navbar .navbar-nav {
  list-style-type: none;
  margin: 30px;
  padding: 8px;
  overflow: hidden;
  border-radius: 5px;
}
.main .container .navbar .navbar-nav li {
  float: left;
  border-radius: 5px;
}
.main .container .navbar .navbar-nav li a {
  border-radius: 5px;
  display: block;
  color: #414040;
  text-align: center;
  font: bold;
  padding: 16px;
  text-decoration: none;
}
.main .container .navbar .navbar-nav li a:hover {
  background-color: #b4e7a0;
  font-weight: 800;
}
.main .container .pages {
  flex: 1 0 auto;
  /* homepage section */
  /* resumePage section */
  /* servicesPage section */
  /* blogPage section */
  /* contactPage section */
}
.main .container .pages .page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 16px;
  background: white;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  z-index: 10;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}
.main .container .pages .page__header {
  padding: 18px 64px;
  background-color: #8bdf80;
  color: white;
  background-image: url(../src/img/main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  padding-bottom: 15px;
  justify-content: center;
}
.main .container .pages .page__header__title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 800;
}
.main .container .pages .page__content {
  padding: 32px 64px;
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.main .container .pages .page--active {
  display: block;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.main .container .pages .homepage__header {
  padding: 32px 64px;
  background-color: #8bdf80;
  color: white;
  background-image: url(../src/img/main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
}
.main .container .pages .homepage__header__portrait {
  border-radius: 4px;
  width: 250px;
  height: 250px;
  margin: 30px 0px -60px 0px;
  border: 3px solid #eefff2;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.main .container .pages .homepage__header__portrait:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.main .container .pages .homepage__header__title {
  display: flex;
  width: 550px;
  flex-direction: column;
  align-items: center;
}
.main .container .pages .homepage__header__title__name {
  font-size: 3rem;
  font-weight: 1800;
  margin-bottom: 0px;
}
.main .container .pages .homepage__header__title__positions {
  margin-bottom: 0px;
  display: block;
}
.main .container .pages .homepage__header__title__socialMediaButtons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.main .container .pages .homepage__header__title__socialMediaButtons .homepage__socialMediaButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 8px;
  border-radius: 100%;
}
.main .container .pages .homepage__content {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  text-align: justify;
  margin: auto;
}
.main .container .pages .homepage__content .homepage__intro {
  justify-content: space-between;
  padding: 25px 80px 25px 10px;
  flex: 50%;
}
.main .container .pages .homepage__content .homepage__contact {
  border: 0;
  padding: 80px 0 50px 0;
  flex: 50%;
}
.main .container .pages .homepage__content .homepage__contact dt {
  float: left;
  text-align: left;
  width: 30%;
  padding-right: 5px;
  padding-left: 20px;
}
.main .container .pages .homepage__content .homepage__contact dd {
  width: 100%;
  margin: 0;
  justify-content: center;
  color: #b1c5b8;
}
.main .container .pages .homepage__content .homepage__contact dd a {
  color: #70f39e;
}
.main .container .pages .resumePage__top,
.main .container .pages .resumePage__bottom {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.main .container .pages .resumePage__top .resumePage__subtitle,
.main .container .pages .resumePage__bottom .resumePage__subtitle {
  margin-top: 0;
  font-size: 1.5rem;
}
.main .container .pages .resumePage__top .resumePage__subtitle--highlight,
.main .container .pages .resumePage__bottom .resumePage__subtitle--highlight {
  color: #8bdf80;
}
.main .container .pages .resumePage__top .timelines,
.main .container .pages .resumePage__bottom .timelines {
  border-left: 2px solid #dadada;
  padding: 8px 0 8px 48px;
}
.main .container .pages .resumePage__top .timelines .timeline,
.main .container .pages .resumePage__bottom .timelines .timeline {
  position: relative;
  padding: 16px 20px;
  border-radius: 4px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #58f100;
  margin-left: -5px;
}
.main .container .pages .resumePage__top .timelines .timeline .experience__title,
.main .container .pages .resumePage__bottom .timelines .timeline .experience__title {
  margin: 0 0 8px;
}
.main .container .pages .resumePage__top .timelines .timeline .experience__intro,
.main .container .pages .resumePage__bottom .timelines .timeline .experience__intro {
  font-size: 0.8rem;
  margin-bottom: 8px;
}
.main .container .pages .resumePage__top .timelines .timeline .experience__intro__year,
.main .container .pages .resumePage__bottom .timelines .timeline .experience__intro__year {
  color: #379844;
}
.main .container .pages .resumePage__top .timelines .timeline .experience__intro__divider,
.main .container .pages .resumePage__bottom .timelines .timeline .experience__intro__divider {
  border-right: 1px solid #dadada;
}
.main .container .pages .resumePage__top .timelines .timeline .experience__intro__company,
.main .container .pages .resumePage__bottom .timelines .timeline .experience__intro__company {
  color: #49515d;
  margin-left: 8px;
}
.main .container .pages .resumePage__top .timelines .timeline .experience__description,
.main .container .pages .resumePage__bottom .timelines .timeline .experience__description {
  line-height: 1.75;
}
.main .container .pages .resumePage__top .timelines .timeline::before,
.main .container .pages .resumePage__bottom .timelines .timeline::before {
  content: "";
  width: 48px;
  border-bottom: 2px solid #58f100;
  position: absolute;
  left: -48px;
  top: 8px;
}
.main .container .pages .resumePage__top .timelines .timeline::after,
.main .container .pages .resumePage__bottom .timelines .timeline::after {
  content: "";
  position: absolute;
  left: -52px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #58f100;
  top: 2px;
  background: white;
}
.main .container .pages .resumePage__top .timelines > div,
.main .container .pages .resumePage__bottom .timelines > div {
  margin-top: 16px;
  margin-bottom: 16px;
}
.main .container .pages .resumePage__top .skill,
.main .container .pages .resumePage__bottom .skill {
  margin: 16px 0;
}
.main .container .pages .resumePage__top .skill__title,
.main .container .pages .resumePage__bottom .skill__title {
  margin: 0 0 8px;
  font-size: 0.8rem;
}
.main .container .pages .resumePage__top .skill__level,
.main .container .pages .resumePage__bottom .skill__level {
  position: relative;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
.main .container .pages .resumePage__top .skill__level--webDesign:after,
.main .container .pages .resumePage__bottom .skill__level--webDesign:after {
  width: 80%;
}
.main .container .pages .resumePage__top .skill__level--graphicDesign:after,
.main .container .pages .resumePage__bottom .skill__level--graphicDesign:after {
  width: 70%;
}
.main .container .pages .resumePage__top .skill__level--printDesign:after,
.main .container .pages .resumePage__bottom .skill__level--printDesign:after {
  width: 75%;
}
.main .container .pages .resumePage__top .skill__level--htmlDesign:after,
.main .container .pages .resumePage__bottom .skill__level--htmlDesign:after {
  width: 90%;
}
.main .container .pages .resumePage__top .skill__level--cssDesign:after,
.main .container .pages .resumePage__bottom .skill__level--cssDesign:after {
  width: 85%;
}
.main .container .pages .resumePage__top .skill__level--javascriptDesign:after,
.main .container .pages .resumePage__bottom .skill__level--javascriptDesign:after {
  width: 70%;
}
.main .container .pages .resumePage__top .skill__level:after,
.main .container .pages .resumePage__bottom .skill__level:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffb758;
}
.main .container .pages .resumePage__top .resumePage__top + .resumePage__bottom,
.main .container .pages .resumePage__bottom .resumePage__top + .resumePage__bottom {
  margin-top: 32px;
}
.main .container .pages .resumePage__top,
.main .container .pages .resumePage__bottom > div {
  flex-basis: calc(50% - 32px);
}
.main .container .pages .servicesPage__subtitle {
  font-size: 1.5rem;
}
.main .container .pages .servicesPage__subtitle--highlight {
  color: #ffb758;
}
.main .container .pages .servicesItems {
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.main .container .pages .servicesItems .servicesItem {
  text-align: center;
}
.main .container .pages .servicesItems .servicesItem__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 80px;
  height: 80px;
  margin: 40px;
  color: rgba(0, 0, 0, 0.5);
  background-color: #d1d1d1;
  padding: 30px;
  border-radius: 100%;
}
.main .container .pages .contactPage__content {
  display: flex;
  justify-content: space-between;
}
.main .container .pages .contactPage__content__subtitle {
  font-size: 1.5rem;
}
.main .container .pages .contactPage__content__subtitle--highlight {
  color: #8bdf80;
}
.main .container .pages .contactPage__content__subContent {
  padding: 100px;
}
.main .container .pages .contactPage__content > div {
  flex-basis: calc(50% - 32px);
}
.main .container .footer {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  color: #414040;
  margin-top: 30px;
  z-index: 9;
}
.main .container .footer .jiangren {
  color: #5ddb4d;
}

/*# sourceMappingURL=style.css.map */
